#block-block-3,
#block-block-4,
#block-block-5 {
  min-width: 235px;
  p, ul {
    font-size: (.89 * $base-font-size);
  }
  h1 {
    font-size: (1.25 * $base-font-size);
  }
  @include respond-to(medium) {
    min-width: 300px;
  }
  @include respond-to(large) {
    width: 390px;
  }
}

#block-block-3 {
  img {
    width: 200px;
    height: auto;
  }
}

#block-block-4 {
  img {
    width: 300px;
    height: auto;
  }
  @include respond-to(small) {
    img {
      width: 200px;
      height: auto;
    }
  }
  @include respond-to(large) {
    img {
      width: 300px;
      height: auto;
    }
  }
}

#block-block-8 {
  display: none;
}

.sidebar .block {
  background-color: color(grey-light);
  border-color: color(grey-medium-light);
  margin: 0 0 20px;
  padding: 15px 20px;
  font-family: $helvetica;
  color: color(grey-dark);
  h2 {
    border-bottom: 1px solid color(grey-medium);
  }
}

#block-block-9 {
  padding-bottom: 20px;
  border-bottom: 1px solid color(grey-medium);
  p {
    margin-top: 0;
  }
}


