.page-civicrm-contribute-transact {
  .main-content {
    color: color(grey-dark);
  }

  #crm-container {
    .description {
      color: #404040;
      margin-left: 1em;
    }

    .email-5-section {
      @include mobile-labels;
    }

    .crm-group.custom_pre_profile-group,
    .billing_mode-group.credit_card_info-group,
    .crm-group.payment_options-group,
    .billing_name_address-group {
      .crm-section {
	@include mobile-labels;
      }
    }

    .crm-group.payment_options-group {
      .crm-section {
        input {
          width: auto;
        }
      } 
    }

    .price_set-section,
    .is_recur-section,
    .helprow-custom_12-section {
      .label {
        width: 0;
      }

      .content {
        margin-left: 5%;
      }
    }

    .helprow-custom_12-section {
      .content {
        color: #696969;
        font-size: 0.9em;
        margin-left: 19%;
        padding: 0;
      }
    }

    .group-section .content {
      margin-top: 20px;
      margin-left: 5%;
    }

    .price-set-row,
    .crm-button_qf_Main_upload {
      @include background-image(linear-gradient(color(green-pale), color(green)));
      border: 1px solid color(green);
      border-radius: 6px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
      &:hover {
        background: color(green-pale);
      }
    }
    
    .price-set-row {
      width: 112px;
      height: 60px;
      margin-right: 15px;
      margin-bottom: 20px;
      float: left;
      &.selected-amount {
        background: color(grey-light);
        border: solid 2px color(green);
        &:hover {
          background: color(grey-light);
        }
        label {
          color: color(green);
        }
      }
      @include respond-to(small) {
	width: 160px;
      }

      .price-set-option-content {
        display: table;
        margin: auto;
        padding-top: 20px;
      }
      input[type=radio] {
        display: none;
      }
      label {
        cursor: pointer;
        padding: 6px 8px;
        color: color(white);
        @include adjust-font-size-to(1.75 * $base-font-size, 1.15);
        font-weight: bold;
        padding-left: 10px;
      }
    }

    .contribution_amount-section .label {
      display: none;
    }

    .other_amount-section {
      margin-left: 5%;
      .label {
        float: left;
        height: auto;
        line-height: normal;
        width: 100%;
        padding: 0;
        label {
          float: left;
          @include adjust-font-size-to(1.75 * $base-font-size, 1.15);
          font-weight: bold;
          color: color(green);
          line-height: normal;
        }
      }
      .content {
        margin-left: 0;
        padding: 0;
      }
      input {
        margin-top: 0.1em;
        width: 160px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
      @include respond-to(medium) {
        .label {
          width: auto;
          text-align: right;
        }
      }
    }

    .is_recur-section label {
      margin-left: 10px;
    }
    .payment_processor-section .content label {
      margin: 0 10px 0 5px;
    }

    .is_recur-section p .description,
    #frequency_unit,
    #recur_installments_num,
    .billing_middle_name-section,
    #editrow-custom_42 {
      display: none;
    }

    .custom_post_profile-group {
      .crm-section.group-section .description {
        @include adjust-font-size-to(1 * $base-font-size);
        color: color(grey-dark);
      }
    }

    .crm-submit-buttons {
      height: 45px;
      margin: 0;
    }

    .crm-button_qf_Main_upload {
      width: 100%;  
      @include respond-to(medium) {
        width: auto;
      }
    }

    .crm-button input.crm-form-submit {
      width: auto;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      @include adjust-font-size-to(1.25 * $base-font-size, 1.15);
      padding: 12px;
    }

    .ui-icon-check {
      display: none;
    }

    .select2-choice {
      padding: 0 0 0 8px;
    }

    .select2-arrow b {
      top: 0px;
    }

    table {
      font-size: 15px;
    }
  }
}
