/*
Error: Function add-colors is missing argument $new-colors.
        on line 122 of /var/www/creativecommons.local/sites/all/themes/cc_zen/sass/_variables.scss
        from line 21 of /var/www/creativecommons.local/sites/all/themes/cc_zen/sass/_init.scss
        from line 1 of /var/www/creativecommons.local/sites/all/themes/cc_zen/sass/style-guide/kss-only.scss

Backtrace:
/var/www/creativecommons.local/sites/all/themes/cc_zen/sass/_variables.scss:122
/var/www/creativecommons.local/sites/all/themes/cc_zen/sass/_init.scss:21
/var/www/creativecommons.local/sites/all/themes/cc_zen/sass/style-guide/kss-only.scss:1
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:73:in `block in perform_arguments'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:65:in `zip'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:65:in `perform_arguments'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/script/tree/funcall.rb:244:in `perform_sass_fn'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/script/tree/funcall.rb:131:in `_perform'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/script/tree/node.rb:50:in `perform'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:468:in `visit_variable'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `map'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:88:in `block in with_import'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:88:in `with_import'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `map'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:88:in `block in with_import'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:88:in `with_import'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:23:in `block in render_with_sourcemap'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:22:in `render_with_sourcemap'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:293:in `watch'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/bin/compass:44:in `call'
/home/kbrownell/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/home/kbrownell/.rvm/gems/ruby-2.1.3/bin/compass:23:in `load'
/home/kbrownell/.rvm/gems/ruby-2.1.3/bin/compass:23:in `<main>'
/home/kbrownell/.rvm/gems/ruby-2.1.3/bin/ruby_executable_hooks:15:in `eval'
/home/kbrownell/.rvm/gems/ruby-2.1.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Function add-colors is missing argument $new-colors.\A         on line 122 of /var/www/creativecommons.local/sites/all/themes/cc_zen/sass/_variables.scss\A         from line 21 of /var/www/creativecommons.local/sites/all/themes/cc_zen/sass/_init.scss\A         from line 1 of /var/www/creativecommons.local/sites/all/themes/cc_zen/sass/style-guide/kss-only.scss"; }
